.features {
  margin-left: auto;
  margin-right: auto;
  padding: 8px 20px 20px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
    padding: 45px 30px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 110px;
    width: $desktop-width;
  }
}

.features__title {
  margin-top: 0;
  margin-bottom: 38px;
  font-size: 36px;
  line-height: 40px;
  font-weight: normal;
  color: $color-black;

  @media (min-width: $tablet-width) {
    margin-bottom: 32px;
    font-size: 60px;
    line-height: 60px;
  }
}

.features__list {
  margin: 0;
  padding: 0;
  min-height: 300px;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
  }
}

.features__item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 60px;
  min-height: 60px;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 60px;
    height: 60px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 151px;
    max-width: 246px;
    min-height: 280px;

    &::before {
      top: 40px;
      width: 80px;
      height: 80px;
    }

    &::after {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      right: 5px;
      bottom: 0;
      left: auto;
      width: auto;
      height: 100%;
      font-size: 280px;
      line-height: 280px;
      text-align: center;
      color: #f2f2f2;
      z-index: 0;
    }

    &:nth-child(1)::after {
      content: "1";
      right: 15px;
    }

    &:nth-child(2)::after {
      content: "2";
      right: 3px;
    }

    &:nth-child(3)::after {
      content: "3";
      right: 0;
    }

    &:nth-child(4)::after {
      content: "4";
      right: 0;
    }
  }

  @media (min-width: $desktop-width) {
    max-width: 245px;
    min-height: 280px;
  }
}

.features__description {
  position: relative;
  margin: 0 0 0 20px;
  font-family: $font-family-second;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  z-index: 10;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;
  }
}

.features__text-wrap {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.features__item--benefit::before {
  background: $main-green url("../img/advantage-leaf@1x.png") no-repeat center center;

  @media (min-resolution: 2dppx) {
    background: $main-green url("../img/advantage-leaf@2x.png") no-repeat center center;
    background-size: 50px;
  }
}

.features__item--consistency::before {
  background: $main-green url("../img/advantage-powder@1x.png") no-repeat center center;

  @media (min-resolution: 2dppx) {
    background: $main-green url("../img/advantage-powder@2x.png") no-repeat center center;
    background-size: 50px;
  }
}

.features__item--eat::before {
  background: $main-green url("../img/advantage-dining@1x.png") no-repeat center center;

  @media (min-resolution: 2dppx) {
    background: $main-green url("../img/advantage-dining@2x.png") no-repeat center center;
    background-size: 50px;
  }
}

.features__item--time::before {
  background: $main-green url("../img/advantage-clock@1x.png") no-repeat center center;

  @media (min-resolution: 2dppx) {
    background: $main-green url("../img/advantage-clock@2x.png") no-repeat center center;
    background-size: 50px;
  }
}
