.form-target {
  outline: 1px solid green;
  outline-offset: -1px;
}

.form-target__list {
  margin: 0;
  padding: 20px;
  list-style: none;
}

.form-target__item {
  margin-bottom: 12px;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-target__input-label {
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
}
