.form-comment {
  position: relative;
  margin: 0;
  padding-top: 7px;
  padding-bottom: 25px;
  box-sizing: border-box;
  overflow-x: hidden;

  &::before {
    position: absolute;
    top: 23px;
    content: "";
    width: 100vw;
    height: 2px;
    background: $main-green;
  }

  @media (min-width: $tablet-width) {
    padding-top: 46px;
    min-width: 630px;

    &::before {
      top: 67px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 29px;
    width: 100%;

    &::before {
      top: 50px;
    }
  }
}

.form-comment__wrapper {
  box-sizing: border-box;
  max-width: $desktop-width;

  @media (min-width: $tablet-width) {
    padding-left: 70px;
    padding-right: 67px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 110px;
    padding-right: 110px;
  }
}

.form-comment__title {
  position: relative;
  display: inline-block;
  margin: 0 0 34px;
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  color: $color-black;
  background: white;
  box-sizing: border-box;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -20px;
    width: 20px;
    height: 40px;
    background-color: white;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: -20px;
    width: 20px;
    height: 40px;
    background: white;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      left: -40px;
      width: 40px;
      height: 40px;
    }

    &::after {
      right: -40px;
      width: 40px;
      height: 40px;
    }
  }
}

.form-comment__description {
  padding: 12px 12px 12px 14px;
  width: 100%;
  min-height: 150px;
  border: 1px solid #e7e7e7;
  box-sizing: border-box;
  font-family: $font-family;
  font-size: 16px;
  line-height: 18px;
  color: $color-grey;
  text-transform: uppercase;

  &:hover {
    border-color: #cdcdcd;
  }

  &:active {
    border: 1px solid #444444;
  }

  @media (min-width: $tablet-width) {
    padding-top: 9px;
    padding-left: 17px;
    font-size: 20px;
    line-height: 30px;
  }
}
