.form-comment {
  margin: 0;
  padding: 0 20px 25px;
  outline: 1px solid green;
  outline-offset: -1px;
}

.form-comment__description {
  font-family: $font-family;
  font-size: 16px;
  line-height: 18px;
  color: $color-grey;
  text-transform: uppercase;
}

.form-comment__title {
  margin: 0 0 30px;
  font-size: 24px;
  line-height: 26px;
  font-weight: normal;
  color: $color-black;
}
