.logo {
  width: 190px;
  min-height: 38px;
  outline: 1px solid darkgreen;
  //outline-offset: -1px;

  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
    margin-bottom: auto;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 66px;
    margin-bottom: 0;
  }
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  width: 100%;
  height: auto;
}
