.page-header {
  padding: 0 20px;
  min-height: 66px;
  outline: 1px solid #ffb241;
  outline-offset: -1px;

  @media (min-width: $tablet-width) {
    padding: 24px 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 53px 110px 29px;
  }
}
