.page__body {
  margin: 0 auto;
  //padding: 20px;
  min-width: $mobile-width;

  @media (min-width: $tablet-width) {
    //padding: 0 30px;
    min-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    //padding: 0 110px;
    max-width: 1440px;
  }
}
