.page__body {
  margin: 0 auto;
  min-width: $mobile-width;

  @media (min-width: $tablet-width) {
    min-width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    max-width: 1440px;
  }
}
