.products-additional-card {
  padding-top: 3px;
  height: 98px;
  min-height: 98px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
    height: 40px;
    min-height: 40px;
  }
}

.products-additional-card__title {
  margin: 0 0 13px;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: $color-black;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 13px;
    height: auto;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    margin: 11px 0 0 0;
  }
}

.products-additional-card__description {
  margin: 0 0 15px;
  width: 100%;
  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    margin-top: 16px;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
    margin-left: auto;
    width: 288px;
  }
}

.products-additional-card__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $font-family-second;
  font-size: 14px;
  line-height: 14px;
  font-weight: normal;
  color: $color-grey;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.products-additional-card__value {
  padding: 0;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 20px;
  }
}

.products-additional-card__cost {
  padding: 0;
  text-align: right;

  @media (min-width: $tablet-width) {
    margin-left: 23px;
    min-width: 70px;
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    width: 44px;
    min-width: 44px;
    text-align: left;
  }
}

.products-additional-card__to-order {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  width: 100%;
  height: 40px;

  &:hover {
    background: $main-green-hover;
  }

  &:active {
    color: rgba(#ffffff, 0.3);
  }

  @media (min-width: $desktop-width) {
    margin-top: 1px;
    margin-left: 39px;
    width: 244px;
  }
}
