.products-additional {
  margin: 0;
  padding: 22px 20px 18px;
  box-sizing: border-box;
  outline: 1px solid tomato;
  outline-offset: -1px;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.products-additional__title {
  margin: 0 0 25px;
  font-size: 24px;
  line-height: 24px;
  color: $color-black;

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.products-additional__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    width: 896px;
  }
}

.products-additional__item {
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
}
