.separator-hidden {
  margin: 0;
  padding: 76px 0 0;
  outline: 20px solid #ffb241;
  outline-offset: -20px;

  @media (min-width: $tablet-width) {
    width: 324px;
    height: 430px;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
    height: 430px;
  }
}

.separator-hidden__title {
  margin: 0 0 7px;
  font-size: 16px;
  line-height: 20px;
  color: $color-black;
  text-transform: uppercase;
}

.separator-hidden__tagline {
  margin: 0 0 20px;
  font-family: $font-family-second;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
}

.separator-hidden__button-show {
  font-size: 16px;
  line-height: 16px;
  color: $color-grey;
  background: #f2f2f2;
}
