.slider {
  justify-self: center;
  //min-height: 320px;
  outline: 1px solid black;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    min-width: 708px;
    height: 620px;
  }

  @media (min-width: $desktop-width) {
    max-width: 690px;
    height: 656px;
  }
}

.slider__wrapper-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 29px;
  width: 320px;
  height: 232px;
  //width: 311px;
  //height: 232px;
  //display: flex;

  @media (min-width: $tablet-width) {
    margin-bottom: 38px;
    width: 100%;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 13px;
  }
}

.slider__image {
  //margin-bottom: 19px;
  width: 100%;
  height: auto;

  @media (min-width: $tablet-width) {
    //margin-bottom: 25px;
    //width: 100%;
    //height: auto;
  }

  @media (min-width: $desktop-width) {
    //margin-bottom: 13px;
  }
}

.slider__toggles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 228px;

  @media (min-width: $tablet-width) {
    width: 570px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 75px;
  }
}

.slider__toggle {
  //padding: 0 10px;
  padding: 0;
  width: 70px;
  height: 40px;
  font-family: $font-family;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: $color-black;
  text-transform: uppercase;
  border: none;
  box-sizing: border-box;
  background: #eaeaea;

  @media (min-width: $tablet-width) {
    width: auto;
    height: 33px;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted #dcdcdc;
  }
}

.slider__scale {
  position: relative;
  padding: 4px 6px;
  width: 84px;
  height: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  box-sizing: border-box;
  background: #ffffff;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    border: none;
    background: #dcdcdc;
  }
}

.slider__state {
  position: absolute;
  top: 3px;
  left: 6px;
  content: "";
  width: 35px;
  height: 6px;
  border-radius: 6px;
  background: $main-green;

  @media (min-width: $tablet-width) {
    top: -13px;
    left: 199px;
    width: 8px;
    height: 8px;
    border: 13px solid white;
    border-radius: 50%;
    background-color: $main-green;
    box-shadow: 0 0 0 1px #dcdcdc;
  }
}
