.slider {
  justify-self: center;
  margin: 0;
  padding: 0;
  outline: 1px solid black;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    min-width: 708px;
    height: 620px;
  }

  @media (min-width: $desktop-width) {
    max-width: 690px;
    height: 656px;
  }
}

.slider__items {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  overflow: hidden;
  margin: 0 auto;
  padding: 0;
  width: 320px;
  height: 261px;

  @media (min-width: $tablet-width) {
    width: 708px;
    height: 557px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    width: 690px;
    height: 545px;
  }
}

.slider__item {
  position: absolute;
  //top: 30px;
  left: auto;
  right: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  width: 320px;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-left: 11px;
    margin-bottom: 13px;
    width: 700px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 0;
    margin-bottom: 30px;
    width: 100%;
  }
}

.slider__item--before {
  z-index: 2;
}

.slider__item--after {
  z-index: 1;
  opacity: 0;
}

.slider__wrapper-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  //margin-left: auto;
  //margin-right: auto;
  margin-bottom: 29px;
  width: 320px;
  height: 232px;

  @media (min-width: $tablet-width) {
    margin-top: auto;
    margin-bottom: auto;
    width: 100%;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.slider__image {
  width: 100%;
  height: auto;
}

.slider__toggles {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 228px;

  @media (min-width: $tablet-width) {
    width: 570px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 75px;
  }
}

.slider__toggle {
  padding: 0;
  width: 70px;
  height: 40px;
  font-family: $font-family;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: $color-black;
  text-transform: uppercase;
  border: none;
  box-sizing: border-box;
  background: #eaeaea;
  cursor: pointer;
  outline: none;


  @media (min-width: $tablet-width) {
    width: auto;
    height: 33px;
    font-size: 20px;
    line-height: 30px;
    border-bottom: 1px dotted #dcdcdc;
  }
}

.slider__toggle:hover {
  border-bottom-style: solid;
}

.slider__toggle:active {
  border-bottom: 1px solid transparent;
}

.slider__scale {
  position: relative;
  padding: 4px 6px;
  width: 84px;
  height: 14px;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
  box-sizing: border-box;
  background: #ffffff;

  @media (min-width: $tablet-width) {
    width: 428px;
    height: 6px;
    border: none;
    background: #dcdcdc;
  }
}

.slider__state {
  position: absolute;
  top: 3px;
  left: 6px;
  content: "";
  width: 35px;
  height: 6px;
  border-radius: 6px;
  background: $main-green;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: -13px;
    left: 199px;
    width: 8px;
    height: 8px;
    border: 13px solid white;
    border-radius: 50%;
    background-color: $main-green;
    box-shadow: 0 0 0 1px #dcdcdc;
  }
}

.slider__state:hover {
  box-shadow: 0 0 0 1px #dcdcdc,
              0 1px 4px 2px #dcdcdc;
}

.slider__state:active {
  box-shadow: 0 0 0 1px $main-green,
              0 1px 4px 2px #dcdcdc;
}
