.statistics {
  padding: 25px 20px 30px;
  box-sizing: border-box;
  background: #eaeaea;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    width: 100%;
    height: 656px;
  }
}

.statistics__title {
  margin: 0 0 30px;
  font-size: 36px;
  line-height: 40px;
  color: $color-black;
}

.statistics__tagline {
  margin: 0;
  font-family: $font-family-second;
  font-size: 14px;
  line-height: 18px;

  @media (min-width: $desktop-width) {
    width: 436px;
  }
}

.statistics__list {
  @media (min-width: $tablet-width) {
    width: 366px;
  }
}

.statistics__number {
  margin-bottom: 9px;
  font-size: 24px;
  line-height: 24px;
  color: $color-black;
}

.statistics__description {
  margin: 0;
  font-family: $font-family-second;
  font-size: 12px;
  line-height: 12px;
}

.statistics__legend {
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 20px;
  color: $color-black;
  text-transform: uppercase;
}
