.products-card {
  outline: 1px solid blue;
  outline-offset: -1px;
}

.products-card__title {
  margin: 0 0 20px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: normal;
  color: $color-black;
  text-transform: uppercase;
}

.description {
  margin-bottom: 22px;
}

.description__item {
  font-family: $font-family-second;
  font-size: 12px;
  line-height: 16px;
  font-weight: normal;
}
