.page__body {
  font-family: $font-family;
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
  padding: 0;
  margin: 0 auto;
  color: $color-grey;
  background: #ffffff;
  //opacity: 0.7;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -20px;
}

.only-not-mobile {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.only-tablet {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
