$font-family: "Oswald", "Arial";
$font-family-second: "Arial";
$color-black: #000000;
$color-grey: #444444;

$mobile-width: 320px;
$tablet-width: 768px;
$tablet-width-padding: 30px;
$begind-tablet-breakpoint: $tablet-width - $tablet-width-padding;
$desktop-width: 1220px;
$desktop-width-padding: 110px;
$begind-desktop-breakpoint: $desktop-width - $desktop-width-padding;
$mobile-width-only: 767px;
